.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.mb-1 {
  margin-bottom: $space-small;
}
