.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.d-none {
  display: none;
}

.d-inline-block {
  display: inline-block;
}

.mb-1 {
  margin-bottom: $space-small;
}

.mb-2 {
  margin-bottom: $space-medium;
}

.mt-1 {
  margin-top: $space-small;
}

.mt-2 {
  margin-top: $space-medium;
}

.mr-1 {
  margin-right: $space-small;
}
